In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 73.3 MB/s eta 0:00:0000:0100:01
Collecting numpy>=1.17.3
  Downloading numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 63.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.6 pandas-1.3.5

In [2]:
import pandas as pd
df = pd.DataFrame({
    "day": ["9/1", "9/1", "9/1"],
    "track": [ "a", "a", "b"],
    "dst":["dstA", "dstB", "dstA"],
    "weight": [50, 30, 40]
})
df

   day track   dst  weight
0  9/1     a  dstA      50
1  9/1     a  dstB      30
2  9/1     b  dstA      40

In [3]:
summry = df.groupby(["day","track"]).sum()
summry

           weight
day track
9/1 a          80
    b          40

In [4]:
dsts = df.groupby(["day","track"]).dst.apply(list).reset_index()
dsts

   day track           dst
0  9/1     a  [dstA, dstB]
1  9/1     b        [dstA]

In [8]:
df.merge(summry, on=["day","track"]).merge(dsts, on=["day","track"])

   day track dst_x  weight_x  weight_y         dst_y
0  9/1     a  dstA        50        80  [dstA, dstB]
1  9/1     a  dstB        30        80  [dstA, dstB]
2  9/1     b  dstA        40        40        [dstA]